body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}

nav, footer {
    background-color: #FAFAC6;
}

nav a {
    padding: 1rem;
}

header {
    background-color: #606C38;
    color: white;
}

#dark-olive-green {
    background-color: #606C38;
    color: white;
}

#cream {
    background-color: #FAFAC6;
}

#dark-liver {
    background-color: #474350;
    color: white;
}

#views-side-by-side {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

#heading-side-by-side {
    grid-column: 1 / 3;
}

h3 {
    text-align: center;
}