@media only screen and (min-width: 600px) {
    body {
        font-size: 1.33em;
    }

    .discover-body {
        display: grid;
        grid-template-columns: 20% auto;
    }

    .logo {
        scale: calc(0.67);
    }

    header button {
        display: none;
    }

    header nav {
        position: initial;
        display: flex;
    }

    header nav ul {
        position: initial;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
        align-items: right;
        display: flex;
    }

    header nav ul li a {
        border: initial;
        padding: initial;
        background-color: initial;
    }

    .discover-header, .discover-footer {
        grid-column: 1 / 3;
    }

    .discover-main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        width: 100%
    }

    .discover-main picture {
        max-width: 100%;
        margin: 0 auto;
    }

    .discover-main picture img:hover {
        box-shadow: 0 0 5px #333;
    }

    .join-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .join-main:first-child, .join-main:last-child {
        padding: 2rem;
    }

    .join-main form .normal-input, .join-main form textarea {
        width: 50%;
    }
}