.header-dark-mode {
    background-color: black;
    color: #FFCAD4;
}

.header-title-dark-mode {
    color: #FFCAD4;
}

.header-nav-list-dark-mode {
    color: yellowgreen;
}

.main-dark-mode {
    background-color: rgba(50, 50, 50, 1);
}

.main-title-dark-mode {
    color: #FFCAD4;
}

.main-section-headings-dark-mode {
    color: #FFCAD4;
}

.main-section-listitems-dark-mode {
    color: white;
}

.main-section-links-dark-mode {
    color: yellowgreen;
}

.footer-dark-mode {
    background-color: rgba(25, 25, 25, 1);
}

.footer-text-dark-mode {
    color: #FFCAD4;
}

.dark-mode-toggler-dark-mode {
    color: black;
    background-color: #FFCAD4;
}
