@media only screen and (min-width: 38rem) {
    header {
        background: #D8E2DC;
        color: black;
        /*align-items: center;*/
        /*justify-content: center;*/
        /*grid-template-columns: auto fit-content;*/
        display: flex;
        gap: initial;
    }

    header button {
        display: none;
    }

    nav {
        /*background: #ffffff;*/
        background: #D8E2DC;
        color: black;
        position: initial;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: right;
        display: flex;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        position:absolute;
        top:0;
        right:0;
    }

    nav a {
        color: blue;
        background-color: initial;
        border: initial;
    }

    main {
        grid-template-columns: 1fr;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main h2 {
        grid-column: 1 / 4;
    }

    main section {
        padding: 2rem;
    }
}